<div class="bar bar-header bar-assertive">
    <button class="button button-icon icon ion-navicon"></button>
  <h1 class="title">สินค้าทั้งหมด</h1>
</div>
<div class="list has-subheader">
<div class="list">

    <a class="item item-thumbnail-left" href="almond.html">
      <img src="img/ss.jpg">
      <h2>เสื้อยืดชาย สีดำ</h2>
      <p>199$</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/100.jpg">
      <h2>เสื้อยืดชาย สีขาว</h2>
      <p>199$</p>
    </a>
        <a class="item item-thumbnail-left" href="#">
      <img src="img/103.jpg">
      <h2>เสื้อยืดชาย สีเทา</h2>
      <p>199$</p>
    </a>
        <a class="item item-thumbnail-left" href="#">
      <img src="img/104.jpg">
      <h2>เสื้อยืดหญิง สีชมพู</h2>
      <p>199$</p>
    </a>

</div>